tmp/
src/objfre*
src/objchk*
src/classinstaller/objfre*
src/classinstaller/objchk*
src/buildfre*
src/buildchk*
src/classinstaller/buildfre*
src/classinstaller/buildchk*
redist/production/serial/
redist/production/amd64/serial/
redist/production/i386/serial/
bin/
htm/
lib/c/docs
*.exp
*.obj
*.lib
*.dll
*.bak
*.ilk
*.orig
*.hex
*.allow
*.pdb
*.manifest
*.zip*