[submodule "lib/python"]
	path = lib/python
	url = git://github.com/commtech/pyfscc.git
[submodule "lib/c"]
	path = lib/c
	url = git://github.com/commtech/cfscc.git
[submodule "lib/net"]
	path = lib/net
	url = git://github.com/commtech/netfscc.git
[submodule "lib/c++"]
	path = lib/c++
	url = git://github.com/commtech/cppfscc.git
